

      <!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        {{#each image}} 
        <div class="swiper-slide">
            <img src="{{imageUrl}}" alt="" class="swiper-slide"> 
        </div>
        {{/each}}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
    